<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.smpaine.portknocker" android:versionName="1.7" android:versionCode="17">
	<uses-sdk android:minSdkVersion="3" />
	<application android:icon="@drawable/icon" android:label="@string/app_name"
		android:description="@string/description" android:allowClearUserData="true">
		<activity android:name=".PortKnocker" android:label="@string/app_name"
			android:windowSoftInputMode="stateAlwaysHidden">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".HostEdit"
			android:windowSoftInputMode="stateVisible|adjustResize">
		</activity>
		<activity android:name=".PortsList"
			android:windowSoftInputMode="stateAlwaysHidden">
		</activity>
		<activity android:name=".PortEdit"
			android:windowSoftInputMode="stateVisible|adjustResize">
		</activity>
	</application>
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<supports-screens android:smallScreens="true" android:normalScreens="true" android:largeScreens="true" />
	<receiver android:name="PortKnockerWidget" >
	    <intent-filter>
	        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
	    </intent-filter>
	    <meta-data android:name="com.smpaine.portknocker.PortKnockerWidget"
	               android:resource="@layout/portknockerwidget" />
	</receiver>
</manifest> 